@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
  border: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  text-decoration: none;
}

.container {
  width: 85%;
}

header {
  width: 100%;
  height: 100px;
  background-color: #57290B;
  position: fixed;
}

header ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

header ul li a {
  color: #EBDACC;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-decoration: none;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-family: "Cormorant Garamond", Arial, Helvetica, sans-serif;
}

header ul li a:hover {
  color: #fff;
}

header ul li a::after {
  content: '';
  background-color: #B2784A;
  height: 2px;
  width: 43px;
  position: absolute;
  display: flex;
  margin-top: 5px;
}

.logo_underline::after {
  display: none;
}

.tel_underline::after {
  display: none;
}

.phone-icon-header {
  margin-right: 8px;
}

footer {
  background-color: #57290B;
  width: 100%;
  height: 402px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.infos {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.contato,
.sociais {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.contato h1,
.contato p,
.sociais h1,
.sociais p,
.creditos a,
.creditos p {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.creditos a:hover {
  color: #EBDACC;
}

.contato h1,
.sociais h1 {
  font-size: 24px;
}

.contato p,
.sociais p {
  font-size: 16px;
}

.contato img,
.sociais img {
  margin-right: 10px;
}

.creditos {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0 150px;
}

.creditos-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 15px;
}

.creditos::before {
  content: '';
  background-color: #A76E42;
  height: 2px;
  width: 100%;
}

.banner {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(assets/home/banner.png) no-repeat;
  background-size: cover;
  padding-top: 100px;
}

.banner h1,
.banner h2 {
  color: #fff;
  font-weight: bold;
}

.banner h1 {
  width: 45%;
  font-size: 56px;
  line-height: 76px;
}

.banner h2 {
  font-size: 24px;
  line-height: 33px;
  width: 45%;
  font-weight: normal;
  margin-top: 16px;
}

.banner a,
.sobre-nos a {
  color: #fff;
}

button {
  padding: 12px 32px;
  background-color: #8F542E;
  color: #fff;
  border-radius: 8px;
  margin-top: 40px;
  font-weight: bolder;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 300px;
  cursor: pointer;
}

button:hover {
  background-color: #57290B;
}

.sobre-nos {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 100px);
}

.container.row {
  display: flex;
}

.sobre-nos-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.sobre-nos-text h1 {
  font-size: 40px;
  font-weight: bold;
  font-family: "Cormorant Garamond", Arial, Helvetica, sans-serif;
}

.grifado {
  background-color: #FBC9A8;
  height: 28px;
  width: 35%;
  margin-top: -25px;
  margin-left: -20px;
}

.sobre-nos-text p {
  line-height: 30px;
  font-size: 18px;
  width: 80%;
} 

.sobre-nos-img {
  width: 100%;
}

.sobre-nos-img img {
  width: 90%;
}

.onda-cafe {
  width: 100%;
}

.servicos {
  background-color: #80451F;
  height: 100%;
  margin-top: -60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.servicos h1 {
  font-size: 40px;
  font-weight: bold;
  font-family: "Cormorant Garamond", Arial, Helvetica, sans-serif;
  color: #fff;
  padding-top: 90px;
}

.card-servicos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  margin-top: 56px;
}

.card-info {
  background-color: #F5F3ED;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-info p {
  font-size: 20px;
  font-weight: bold;
  padding: 15px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-info p::after {
  content: '';
  background-color: #B2784A;
  height: 2px;
  width: 78px;
  display: flex;
  margin-top: 3px;
}

.servicos button {
  background-color: #FBC9A8;
  margin-bottom: 56px;
}

.servicos a {
  color: #1F0C00;
  font-weight: bolder;
}

.servicos button:hover {
  background-color: #b28c74;
}